@using Let_s_Meet.Models.JWTModels
@model RegisterModel
@{
}
<div class="row">
    <div class="col-md-4">
        <form id="account">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input id="Username" asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input id="Email" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input id="Password" type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <label>Retype Password</label>
                <input id="RePassword" type="password"/>
                <span asp-validation-for="Password"></span>
            </div>
        </form>
        <button onclick="register()" class="btn btn-primary">Create Account</button>
    </div>
</div>


<script>

    function register() {
        let url = "CreateUser"
        const pass = $("#Password").val()
        const rePass = $("#RePassword").val()

        if( pass != rePass){
            alert("Passwords do not match")
            return
        }

        let data = {
            "Username": $("#Username").val(),
            "Email": $("#Email").val(),
            "Password": $("#Password").val()
        }

        $.ajax({
            url: url,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
               location.reload()
               console.log(response)
            },
            error: function (response) {
                console.log("something went wrong", response)
            }
        })
    }

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }