@using Microsoft.AspNetCore.Identity
@using Let_s_Meet.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (User.Identity.Name != null)
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="logout" asp-area="" asp-controller="Auth" asp-action="LogOut">Logout</a>
        </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="" asp-controller="Auth" asp-action="Index">Login</a>
    </li>
   
}
</ul>
