@{
    ViewData["Title"] = "Home Page";
}

<!--Sweet Alert 2-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--<script src="sweetalert2.all.min.js"></script>-->

<div class="text-left">
    <h2 class="description">Friends</h2>
    <hr />
</div>

<div>
    <button onclick="addFriend()" id="friendButton" class="btn btn-danger">Add Friend</button>
</div>

<br />
<h2 class="description">Pending Friend Requests</h2>
<hr />
<div id="pending"></div>
<br />

<h2 class="description">My friends</h2>
<hr />
<div id="friendList" style="display:flex;justify-content:flex-end;flex-direction:column;"></div> <!--Figure out how to get the css into the site.css since it won't display correctly from there right now-->


<script>
    //TODO: This is the work of displaying users current friend requests to the div
    fetch('/FriendsModels/GetReceivedRequests') //TODO: Needs to change to the actual API call to display users's frends requests
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            getFrientRequest(data);
        })
        .catch(function (e) {
            console.log("error in friend requests: " + e);
        })

    /*TODO: this is all hard coded
        The main thing that needs to change is how the accept/decline button will work with real data*/
    function getFrientRequest(data) {
        console.log(data);

        var pendingContainer = document.getElementById("pending");
        for (var i = 0; i < data.length; i++) {
            var pendingFriend = document.createElement("div");
            pendingFriend.setAttribute('class', 'pendingFriends');
            var pName = document.createElement('p');
            pName.innerHTML = data[i].requestedBy.firstName;
            var pEmail = document.createElement('p');
            pEmail.innerHTML = data[i].requestedBy.lastName; //TODO: change to email
            /*TODO: How to tell what Accept/Decline was hit for different friend requests?
                I'm thinking it's a different another api call? or the button saves data somehow? I'm unsure*/
            var accept = document.createElement("button");
            accept.innerHTML = "Accept";
            accept.setAttribute("id", data[i].friendsID);
            accept.onclick = (e) => {
                console.log(e.target.id);
                $.ajax({
                    url: "/FriendsModels/AcceptRequest",
                    type: "POST",
                    data: { id: parseInt(e.target.id) },
                    dataType: "json",
                    success: function (response) {
                        console.log(response)
                        Swal.fire({
                            icon: 'success',
                            title: 'Friend Request Accepted!',
                        }).then((result) => {
                            location.reload();
                        })
                    },
                    error: function (response) {
                        console.log("something went wrong in friend accepting ", response)
                        Swal.fire({
                            icon: 'error',
                            title: "Can't Accept as Friend",
                        }).then((result) => {
                            location.reload();
                        })
                    }
                })
            }
            var decline = document.createElement("button");
            decline.innerHTML = "Decline";
            decline.setAttribute("id", data[i].friendsID);
            decline.onclick = (e) => {
                console.log(e.target.id);
                $.ajax({
                    url: "/FriendsModels/RejectRequest",
                    type: "POST",
                    data: { id: parseInt(e.target.id) },
                    dataType: "json",
                    success: function (response) {
                        console.log(response)
                        Swal.fire({
                            icon: 'success',
                            title: 'Friend Request Rejected!',
                        }).then((result) => {
                            location.reload();
                        })
                    },
                    error: function (response) {
                        console.log("something went wrong in friend accepting ", response)
                        Swal.fire({
                            icon: 'error',
                            title: "Can't Reject as Friend",
                        }).then((result) => {
                            location.reload();
                        })
                    }
                })
            }
            pName.setAttribute('class', 'alignFriendRequest');
            pEmail.setAttribute('class', 'alignFriendRequest');
            accept.setAttribute('class', 'alignFriendRequest');
            decline.setAttribute('class', 'alignFriendRequest');
            accept.classList.add('alignFriendRequest', 'btn-danger');
            decline.classList.add('alignFriendRequest', 'btn-danger');
            pendingFriend.appendChild(pName);
            pendingFriend.appendChild(pEmail);
            pendingFriend.appendChild(accept);
            pendingFriend.appendChild(decline);
            pendingContainer.appendChild(pendingFriend);
        }
    }
  
    //TODO: This is the work of display people that are already friends with each other
    fetch('/FriendsModels/GetFriends') //TODO: Needs to change to the actual API call to display users's friends
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            getFriendData(data);
        })
        .catch(function (e) {
            console.log("error in friends list: " + e);
        })

    //TODO: This will greatly change when it's not mock data
    function getFriendData(data) { //will need to update what this does once we we know what the friend list will do in more depth, like what will clicking on a friend do
        console.log(data);
        var friendListContainer = document.getElementById("friendList");
        for (var i = 0; i < data.length; i++) {
            var div = document.createElement("a");
            div.setAttribute('class', 'friendLink'); //Use this later for styling, once the site.css is connected better
            div.innerHTML = data[i].firstName + " " + data[i].lastName;
            friendListContainer.appendChild(div);
        }
    }

    async function addFriendPopUp() {
        const { value: formValues } = await Swal.fire({
            title: 'Add Friend',
            html: //This does no input checking currently
                '<label>Enter email address</label>' +
                '<input type="text" id="friendEmail" class="swal2-input">' +
                '<br/>',
            focusConfirm: false,
            position: 'center',
            confirmButtonText: 'Add as friend',
            showCancelButton: true,
            preConfirm: () => {
                return {
                    friendEmail: $('#friendEmail').val(),
                }
            }
        });
        return formValues;
    }

    function addFriend() {
        addFriendPopUp().then((values) => {
            let url = "/FriendsModels/CreateFriendRequestById"; //TODO: change to email
            
            let data = {
                //friendEmail: values.friendEmail
                friendId: parseInt(values.friendEmail)
            };

            $.ajax({
                url: url,
                type: "POST",
                data: data,
                dataType: "json",
                success: function (response) {
                    console.log(response)
                    Swal.fire({
                        icon: 'success',
                        title: 'Friend Added!',
                    }).then((result) => {
                        location.reload();
                    })
                },
                error: function (response) {
                    console.log("something went wrong in friend creation ", response)
                    Swal.fire({
                        icon: 'error',
                        title: "Can't add as friend",
                    }).then((result) => {
                        location.reload();
                    })
                }
            })
        })
        .catch(error => console.log(error));
    }
</script>