@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2>Groups</h2>
    <hr />
</div>

<div>
    <button style="background-color:lightblue; border:none" id="button0" class="btn btn-danger">Create Group</button>
</div>



