@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset='utf-8' />
    <link href='~/lib/fullcalendar/main.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src='~/lib/fullcalendar/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'prev,next,title',
                    center: '',
                    right: 'today,dayGridMonth,timeGridWeek,timeGridDay'
                },

                events: '/api/displayUserEvents',

                editable:true,
                selectable:true,

                eventClick: function(info){
                    var eventID = info.id;
                    var userID = 3; //This will need to be changed later with actual id

                    if(confirm("Are you sure you want to remove"))
                    {
                        info.event.remove();
                        $.ajax({
                            url: '/api/removeUserEvent?userID=' + userID + '&eventID=' + eventID, //This will need to change to be for specific user and event
                            type: 'DELETE'
                        });
                    }
                },

                select: function(data){
                  $(".submitForm").bind();
                  $(".popup").show();
                  $(".title").focus();

                  $(".submitForm").off('click').click(function(){
                  var title = $(".title").val();
                  var startDate = $(".startDate").val();
                  var endDate = $(".endDate").val();
                  var startTime = $(".startTime").val();
                  var endTime = $(".endTime").val();

                  console.log("startDate = " + startDate);
                  console.log("startTime = " + startTime);
                  console.log("endDate = " + endDate);
                  console.log("endTime = " + endTime);
                  console.log("offset = " + new Date().getTimezoneOffset()); //it's in minutes not hours
                  
                  console.log(data);

                    if(title == null || title == ""){
                        alert("Event name must be entered")
                    } else {
                        // clear all information, unselect events, and alert that a title needs to be entered
                        calendar.addEvent({
                            title: title,
                            start: data.start,
                            end: data.end,
                        });
                        //TODO: need to update the database about this event
                        $.post('/api/addUserEvent',
                            {
                                eventId: 'a', //is this needed? and how to get the correct id if so?
                                title: title,
                                start: data.start,
                                end: data.end,
                                userId: 3 //This will need to change
                            }
                        )
                            
                    }
                        $(".popup").hide();
                        $(".title").val("");
                        $(".startTime").val("");
                        $(".endTime").val("");
                        $(".startDate").val("");
                        $(".endDate").val("");
                    });

                    $(".exit").off('click').click(function(){
                        // clear all info, unselect events and...
                        $(".popup").hide();
                        $(".title").val("");
                        $(".startTime").val("");
                        $(".endTime").val("");
                        $(".startDate").val("");
                        $(".endDate").val("");
                    });
                },
                
            });
            calendar.render();
        });

    </script>
</head>



<div id='calendar' style="padding: 15px; background-color: #950741; border-radius: 30px"></div>


<div class="popup" style="display:none; position:fixed; top:25%; left:25%; background-color:white;z-index:10">
  <form style="background-color:#EDF5E0;color:#950741;padding:10px;border: 2px solid #950741">
      <div style="display:block">
          <label>Event Name</label>
          <input type="text" class="title" autofocus>
      </div>

      <div style="display:block">
          <label>Start Date</label>
          <input type="date" class="startDate">
          <label>Start Time</label>
          <input type="time" class="startTime">
      </div>

      <div style="display:block">
          <label>End Date</label>
          <input type="date" class="endDate">
          <label>End Time</label>
          <input type="time" class="endTime">
      </div>

      <input type="button" value="Submit" href="#" onclick="return false" class="submitForm" style="background-color:#EDF5E0;color:#950741">
      <input type="button" value="Cancel "href="#" onclick="return false" class="exit" style="background-color:#EDF5E0;color:#950741">
  </form>
</div>


