@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset='utf-8' />
    <link href='~/lib/fullcalendar/main.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src='~/lib/fullcalendar/main.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });

    </script>
</head>


<div class="text-center">
    <h1 class="display-4"><span style="color: #979797; font-weight: bold">Welcome To</span> <span style="color: #C3083F; font-weight: bold" >Let's Meet!</span></h1>

    <button id="button0" class="btn btn-danger" onclick="doFunction()"> This is a button </button>
    <hr />
</div>

<div id='calendar'></div>


<!--CSHTML FOR RETREIVING DUMMY DATA IN DATABASE-->
<div style="position:absolute;align-content:center">
    <div style="float:left; padding:10px">
        <button id="button1" class="btn btn-danger" onclick="getData(1)"> Request User Data </button>
    </div>

    <div style="float:left;padding:10px">
        <button id="button2" class="btn btn-danger" onclick="getData(2)"> Request Group Data </button>
    </div>

    <div style="float:left;padding:10px">

        <button id="button2" class="btn btn-danger" onclick="getData(3)"> Request Event Data </button>
    </div>
</div>

<br />

<br />

<br />

<div class="output_box" style="position:relative;border: 1px solid black;">

</div>






<script>
    function doFunction() {

        let url = "Api/post"
        let data = "string"

        $.post(url, data).done(function (result) {

            $("#button0").html(result.message);
            $(".output_box").html("");
        })
    }

    function getData(buttonNumber) {

        let url = "Api/get"

        if (buttonNumber == 1)
            url = url + "Users"
        else if (buttonNumber == 2)
            url = url + "Groups"
        else if (buttonNumber == 3)
            url = url + "Events"

        let data = "string"

        $.get(url, data)
            .fail(function (result) {
                console.log("Something went wrong: " + JSON.stringify(result));
            })
            .done(function (result) {
                var list = JSON.parse(result);
                var output = "";
                
                console.log(list);

                //Display User information
                if (buttonNumber == 1) {
                    for (var k in list) {
                        output = output + list[k].firstName + " " + list[k].lastName + "<br/>";
                    }
                }
                //Display Group information
                else if (buttonNumber == 2) {

                    // Set output to list of groups showing the users in each group
                    for (var k in list) {
                        output = output + "Group: " + list[k].groupID + " Users: ";
                        for (var i in list[k].Users) {
                            output = output + list[k].Users[i].firstName + " " + list[k].Users[i].lastName + ", ";
                        }
                        
                        output += "<br/>";
                    }
                }
                //Display Event information
                else if (buttonNumber == 3) {
                    for (var k in list) {
                        console.log(list[k]);
                        output = output +
                            "Start: " + list[k].startTime +
                            " End: " + list[k].endTime + "<br/>";
                        //^^for now until group id is resolved?
                    }
                }
                $(".output_box").html(output);
            })
    }

</script>
