@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Let's Meet!</h1>

    <button style="background-color:lightblue; border:none" id="button0" class="btn btn-danger" onclick="doFunction()"> This is a button </button>
    <hr />
</div>




<!--CSHTML FOR RETREIVING DUMMY DATA IN DATABASE-->
<div style="position:absolute;align-content:center">
    <div style="float:left; padding:10px">
        <button style="background-color:lightblue; border:none" id="button1" class="btn btn-danger" onclick="getData(1)"> Request User Data </button>
    </div>

    <div style="float:left;padding:10px">
        <button style="background-color:lightblue; border:none" id="button2" class="btn btn-danger" onclick="getData(2)"> Request Group Data </button>
    </div>

    <div style="float:left;padding:10px">

        <button style="background-color:lightblue; border:none" id="button2" class="btn btn-danger" onclick="getData(3)"> Request Event Data </button>
    </div>
</div>

<br />

<br />

<br />

<div class="output_box" style="position:relative;border: 1px solid black;">

</div>






<script>
    function doFunction() {

        let url = "Api/post"
        let data = "string"

        $.post(url, data).done(function (result) {

            $("#button0").html(result.message);
            $(".output_box").html("");
        })
    }

    function getData(buttonNumber) {

        let url = "Api/get"

        if (buttonNumber == 1)
            url = url + "Users"
        else if (buttonNumber == 2)
            url = url + "Groups"
        else if (buttonNumber == 3)
            url = url + "Events"

        let data = "string"

        $.get(url, data)
            .fail(function (result) {
                console.log("Something went wrong");
            })
            .done(function (result) {
                var list = JSON.parse(result);
                var output = "";
                if (buttonNumber == 1) {
                    for (var k in list) {
                        output = output + list[k].FirstName + " " + list[k].LastName + "<br/>";
                    }
                }
                else if (buttonNumber == 2) {
					// Set output to list of groups showing the users in each group
					for (var k in list) {
						output = output + "Group: " + list[k].ID + " Users: ";
						for (var i in list[k].Users) {
							output = output + list[k].Users[i].FirstName + " " + list[k].Users[i].LastName + ", ";
						}

						output += "<br/>";
					}
                }
                else if (buttonNumber == 3) {
                    for (var k in list) {
                        console.log(list[k]);
                        output = output +
                            "Start: " + list[k].startTime +
                            " End: " + list[k].endTime + "<br/>";
                        //^^for now until group id is resolved?
                    }
                }
                $(".output_box").html(output);
            })
    }

</script>
