@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Let's Meet!</h1>

    <button style="background-color:lightblue; border:none" id="button0" class="btn btn-danger" onclick="doFunction()"> This is a button </button>
    <hr />
</div>


<h1>NEW STUFFFFF</h1>

<!--CSHTML FOR RETREIVING DUMMY DATA IN DATABASE-->
